<log4net>
	<appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
		<appendToFile value="true" />
		<datePattern value="yyyyMMdd" />
		<maximumFileSize value="10MB" />
		<maxSizeRollBackups value="10" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%M %t %d{yyyy/MM/dd HH:mm:ss} %m%n" />
		</layout>
		<file value="Logs/EventLogs.txt" />
		<param name="Encoding" value="utf-8" />
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%M %t %d{HH:mm:ss} %m%n" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingFileAppenderInfo" />
	</root>
</log4net>